@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  margin: 0;
  background: #0d1117;
    font-family: "Space Grotesk", sans-serif;
  color: white;
}

.homepage {
  min-height: 100vh;
}

/* Navbar */
.navbar {
  width: 100%;
  background: #0f172a;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.nav-links a {
  color:white;
  margin: 0 20px;
  text-decoration: none;
  font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
   font-weight: bold;
}

.nav-links a:hover {
 color: #2b7cee;
}

.profile-icon {
  width: 35px;
  height: 35px;
  background: #475569;
  border-radius: 50%;
}

/* Content */
.container {
  padding: 40px 60px;
}

.welcome-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.welcome-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.welcome-text h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.btn {
  margin-left: auto;
  background: #2b7cee;
  padding: 12px 20px;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
   font-weight: bold;
}
.btn:hover {
  background: #1b6cd8;
}

/* Progress Cards */
.progress-boxes {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.progress-card {
  background: #1e293b;
  padding: 25px;
  border-radius: 10px;
  flex: 1;
}

.progress-card h3 {
  margin: 0;
  font-size: 16px;
  color: #94a3b8;
}

.progress-card p {
  font-size: 28px;
  margin-top: 10px;
  font-weight: 700;
}

/* Lessons */
.section-title {
  font-size: 20px;
  margin: 20px 0;
  font-weight:bold;
}

.lesson-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.recommended-lesson-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.dashboard-tag {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
  display: inline-block;
    font-family: "Space Grotesk", sans-serif;
   font-weight: bold;
}

.beginner {
  background: #16a34a;
}

.intermediate {
  background: #ca8a04;
}

.recommended-lesson-card h4 {
  margin: 5px 0;
  font-size: 18px;
}

.recommended-lesson-card p {
  color: #94a3b8;
  font-size: 14px;
  margin-bottom: 15px;
}

.dashboard-start-btn {
  background: #2b7cee;
  padding: 10px 18px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
   font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
}
.dashboard-start-btn:hover {
  background: #1b6cd8;
}

